@model ProjectPost
@{
    <div class="main-display">
        <h3>Project Update - @Model.Title</h3>
        <label>@Model.ProjectName - assigned by @Model.UserName</label><br />
        <p>@Model.Body</p>

        <label>Replies:</label><br />

        <ul class="replies">
                @if (Model.replies == null || Model.replies.Length == 0)
                {
                    <li style="text-align:center">No replies found</li>
                }
                else
                {
                    foreach(Reply r in Model.replies) {
                        <li>
                        <h4>@r.postedBy replied on @r.timePosted.ToString()</h4>
                        <p>@r.body</p>
                        </li>                        
                    }
                }
        </ul>

        <form id="ReplyForm">
            <label>Reply:</label><br />
            <textarea style="width:100%; max-width:800px" name="ReplyBody" id="ReplyBody" rows="3"></textarea><br />
            <input name="ReplyTo" id="ReplyTo" type="hidden" value="@Model.postId" />
            <button type="button" id="SubmitReplyPost">Post Reply</button><br />
        </form>

    </div>


}
