@{
    /*
    * Create new projects for the company
    * -Make a project code
    * View all projects in the company
    * Close projects when completed
    * Adjust who is on the project with role, team, and individual management
           * Adjust contractors/outside companies
    */
}

@*Projectadmin is a partial with tools to create and edit the companies projects, it used the ProjectAdmin class to display what is requested*@
@using Microsoft.AspNetCore.Identity
@using Microsoft.Data.Sql
@model DashboardModel

@{
    Model.setProjects();
}

<div class="dash-div" name="projectAdminTools">
    <h3>Project Admin Tools</h3>
    <h4>Create a New Project</h4>
    <p>Use this section to create a new project to be managed using the Structure framework</p>

    <form style="margin-left:100px; margin-right:100px;" asp-page-handler="CreateNewProject">

        <label>Street address: </label><input name="newProjectLocation" type="text" /><br />
        <label for="newProjectName">Input a project Name: (not required)</label><input name="newProjectName" type="text" /><br />
        <label>Start date: </label><input name="newProjectStartDate" type="date" />
        <input type="submit" />

    </form>
    <br />

    <h4>Your Company's Current Projects</h4>

    <div style="text-align:center">
        @{
            //Get and print out the projects of the company, and allow them to be edited
            if (Model.currentProjects == null || Model.currentProjects.Count == 0)
            {
                <p>No current projects found</p>
            }
            else
            {
                foreach (Project project in Model.currentProjects)
                {
                    //asp-page-handler="EditCurrentProject" method="post"
                    <form class="formBackground" method="post" name="thisProject" id="thisProject">
                        @{
                            if (@project.Title != null)
                            {
                                <h2>@project.Title</h2>
                                <label>Location: @project.Location</label>

                                <br />
                            }
                            else
                            {
                                <h2>@project.Location</h2>
                            }
                        }
                        <label>Lead Company: @project.LeadCompany.CompanyName</label>
                        <br />
                        <label>Start Date: @project.StartDate</label>

                        <br />
                        <button type="button" value="@project.ProjectCode" id="editButton_@project.ProjectCode" onclick="toggleProjectEditDiv('show_@project.ProjectCode')">Edit Project</button>
                        <button style="display:none;" type="button" value="@project.ProjectCode" id="hideButton_@project.ProjectCode" onclick="toggleProjectEditDiv('hide_@project.ProjectCode')">Hide below Project</button>

                        <br />
                        <div class="editProject" style="display:none" name="editProjectDiv" id="edit_@project.ProjectCode">

                            <label>Add another company: (WIP) </label>
                            <input name="addCompany" type="text" />
                            <button type="button" name="projectEditButton" value="addCompany_@project.ProjectCode">Add</button><br />

                            <label>Remove company: </label>
                            <select name="removeCompany" id="removeCompany_@project.ProjectCode" asp-items="@project.SelectListCompanies"><option disabled hidden selected="selected">Select company</option></select>
                            <button type="button" name="projectEditButton" id="projectEditButton" value="removeCompany_@project.ProjectCode">Remove</button><br />

                            <label>Add roles: </label>
                            <select name="addRoles" id="addRoles_@project.ProjectCode" asp-items="@Model.projectAdmin.userRoles"><option disabled hidden selected>Select role</option></select>
                            <button type="button" name="projectEditButton" id="projectEditButton" value="addRoles_@project.ProjectCode">Add</button><br />

                            <label>Remove roles: </label>
                            <select name="removeRoles" id="removeRoles_@project.ProjectCode" asp-items="@project.SelectListRoles[project.LeadCompany.CompanyName]"><option disabled hidden selected>Select role</option></select>
                            <button type="button" name="projectEditButton" id="projectEditButton" value="removeRoles_@project.ProjectCode">Remove</button><br />

                            <label>Add individual user: </label>
                            <select name="addIndividual" id="addIndividual_@project.ProjectCode" asp-items="@Model.projectAdmin.companyUsers"><option disabled hidden selected>Select user</option></select>
                            <button type="button" name="projectEditButton" id="projectEditButton" value="addIndividual_@project.ProjectCode">Add</button><br />

                            <label>Remove individual user: </label>
                            <select name="removeIndividual" id="removeIndividual_@project.ProjectCode" asp-items="@project.SelectListIndividuals[project.LeadCompany.CompanyName]"><option disabled hidden selected>Select user</option></select>
                            <button type="button" name="projectEditButton" id="projectEditButton" value="removeIndividual_@project.ProjectCode">Remove</button><br />

                            <label>Block individual user: </label>
                            <select name="blockIndividual" id="blockIndividual_@project.ProjectCode" asp-items="@Model.projectAdmin.companyUsers"><option disabled hidden selected>Select user</option></select>
                            <button type="button" name="projectEditButton" id="projectEditButton" value="blockIndividual_@project.ProjectCode">Add</button><br />

                            <label>Remove blocked individual user: </label>
                            <select name="unblockIndividual" id="unblockIndividual_@project.ProjectCode" asp-items="@project.SelectListBlocks[project.LeadCompany.CompanyName]"><option disabled hidden selected>Select user</option></select>
                            <button type="button" name="projectEditButton" id="projectEditButton" value="unblockIndividual_@project.ProjectCode">Remove</button><br />

                            <label>Adjust start date: (WIP)</label>
                            <input type="date" name="startEdit" />
                            <button type="button" name="projectEditButton" id="projectEditButton" value="startEdit_@project.ProjectCode">Submit</button><br />

                            <label>Sign project as completed: (WIP)</label>
                            <input type="date" name="finishEdit" />
                            <button type="button" name="projectEditButton" id="projectEditButton" value="finishEdit_@project.ProjectCode">Submit</button><br />
                        </div>
                    </form>
                }
            }
        }

    </div>
    <br />


    <h4>Projects assigned to your company</h4>

    <div style="text-align:center">
        @{
            //Get and print out the projects of the company, and allow them to be edited
            if (Model.currentProjects == null || Model.currentProjects.Count == 0)
            {
                            <p>No current projects found</p>
            }
            else
            {
                            <form asp-page-handler="EditCurrentProject" method="post" name="thisProject">
                                @{


                                }
                            </form>
            }
        }

    </div>
    <br />






    <h4>View Your Company's Completed Projects</h4>

    <form asp-page-handler="EditCompletedProject">

        @{
            //Get and print out the current projects of the company

            //Get and print out the projects of the company
            if (Model.finishedProjects == null || Model.finishedProjects.Count == 0)
            {
                            <p>No finished projects found</p>
            }
            else
            {
                            <form>
                                @{
                        foreach (Project project in Model.finishedProjects)
                        {
                                                    <label>@project.ProjectCode</label>

                                                    <Button>Test button</Button>
                        }
                                }
                            </form>
            }

        }

    </form>
    <br />

    <h4>Add/remove contractors</h4>

    <form asp-page-handler="EditContractors">

        @{
            //Get and print out the contractors for this company
        }

    </form>

</div>



@{

}
