@model List<ProjectTask>

<div class="taskBar">
    <ul>
        @{
            List<ProjectTask> projectTasks = Model;
            List<ProjectTask> toDoTasks = new List<ProjectTask>();
            List<ProjectTask> finishedTasks = new List<ProjectTask>();

            foreach (ProjectTask projectTask in projectTasks)
            {
                if (projectTask.Completed)
                {
                    finishedTasks.Add(projectTask);
                }
                else
                {
                    toDoTasks.Add(projectTask);
                }
            }

            foreach (ProjectTask pt in toDoTasks)
            {
                if (pt.Title != null)
                {
                    <li onclick="ShowIndexPartial(@pt.Id, 1)">
                        <h1>@pt.ProjectName: Priority @pt.Priority.ToString()</h1> @* Look into grouping tasks into each project perhaps*@
                        <p name="openPost_@pt.Title">@pt.Title</p>
                    </li>
                }
            }

            foreach (ProjectTask pt in finishedTasks)
            {
                if (pt.Title != null)
                {
                    <li style="background-color:seagreen" onclick="ShowIndexPartial(@pt.Id, 1)">
                        <h1>@pt.ProjectName: Completed</h1> @* Look into grouping tasks into each project perhaps*@
                        <p name="openPost_@pt.Title">@pt.Title</p>
                    </li>
                }
            }
        }
    </ul>
</div>

