@model ProjectTask
@{
    <div class="main-display">
        <h3>Task - @Model.Title</h3>
        @if (Model.Completed)
        {
            <h3 style="color:red">Marked as Complete</h3>
        }
        <label>@Model.ProjectName - assigned by @Model.UserName</label><br />
        <p>@Model.Body</p>

        <h5>Replies:</h5><br />

        <ul class="replies">
            @if (Model.replies.Length == 0)
            {
                <li style="text-align:center">No replies found</li>
            }
            else
            {
                foreach (Reply r in Model.replies)
                {
                    <li>
                        <h4>@r.postedBy replied on @r.timePosted.ToString()</h4>
                        <p>@r.body</p>
                    </li>
                }
            }
        </ul>

        @if (Model.Completed == false)
        {
            <form id="ReplyForm">
                <label>Reply:</label><br />
                <textarea style="width:100%; max-width:800px" name="ReplyBody" id="ReplyBody" rows="3"></textarea><br />
                <input name="ReplyTo" id="ReplyTo" type="hidden" value="@Model.Id" />
                <button type="button" id="SubmitReplyTask">Post Reply</button><br />
            </form>

            <form name="TaskCompleted" id="TaskCompleted">
                <button type="button" name="CompletionButton" id="CompletionButton" value="@Model.Id">Mark as completed</button>
                <input name="SetTo" id="SetTo" type="hidden" value="1" />
            </form>
            //if the user is lower down ladder, they can only request the task is completed, needs to be signed off by a more senior position.
        }
        else
        {
            <form name="TaskCompleted" id="TaskCompleted">
                <button type="button" name="CompletionButton" id="CompletionButton" value="@Model.Id">Mark as incomplete</button>
                <input name="SetTo" id="SetTo" type="hidden" value="0" />
            </form>
        }
    </div>
}
